@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

:root {
  --borderStyle: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 70%;
  margin-right: 10%;
}

#tool-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 20%;
}

#grid-system {
  display: grid;
  background-color: whitesmoke;
  border: solid 1px black;
  height: 90%;
  width: 75%;
}

input {
  width: 70%;
}

#logo {
  font-family: "Cairo", sans-serif;
  font-size: 5rem;
  height: 10%;
  color: lightgrey;
}

[name="color"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 100%;
  width: 70%;
  height: 30%;
}

[name="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

.btn {
  width: 70%;
  border: 1px solid lightgray;
  background-color: ghostwhite;
  height: 10%;
  font-family: "Cairo", sans-serif;
  font-size: 1.1rem;
  transition: all 0.2s;
}

.btn:hover {
  border: 1px solid ghostwhite;
  background-color: lightgray;
}

.btn:active {
  border: 1px solid ghostwhite;
  background-color: rgb(187, 186, 186);
}

.btn-active {
  border: 1px solid ghostwhite;
  background-color: lightgray;
}

.rainbow-active {
  border: 1px solid ghostwhite;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

#size {
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
  font-family: "Cairo", sans-serif;
}

.gridDiv {
  border: var(--borderStyle);
}
