body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#tool-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 5%;
}

#grid-system {
    display: grid;
    border: solid 1px black ;
    margin-right: 15%;
    height: 70%;
    width: 60%;
}

.colored {
    background-color: aqua;
}

input {
    width: 70%;
}